<div class="container-fluid min-vh-75 col-11">
    <div class="row m-4 g-4">
        {% for projet in projets %}
        <div class="col-12">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title"> {{  projet.nom }} </h5>
                    <h6 class="card-subtitle mb-2 text-muted"> {{ projet.categorie.nom}} </h6>
                    <p class="card-text">{{ projet.description }}</p>
                </div>
            </div>
        </div> 
        {% else %}
            Pas de projet actuellement 
        {% endfor %}
    </div>
</div>
