{% extends "layout.html.twig" %}

{% block banner %}
    {% include "includes/_banner.html.twig" %}
{% endblock %}
{% block body %}
    <section class="bio-section">
        <h2 class="title m-3">Bio</h2>
        {% include "home/_bio.html.twig" %}
    </section>
    <section>
        <h2 class="title m-3">Projets</h2>
        {% include "home/_projet.html.twig" %}
    </section>
{% endblock %}
