<form method="post" action="{{ path('projet_delete', {'id': projet.id}) }}" onsubmit="return confirm('Voulez vous supprimer ce projet ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ projet.id) }}">
    <button class="btn-lg btn-danger m-1">Delete</button>
</form>
