{% extends 'layout_admin.html.twig' %}

{% block title %}Salut {{ app.user.firstname }}!{% endblock %}

{% block body %}
<h2 class="title m-3">Modifier la bio</h2>

<div class="container my-5">
    <div class="col-11 border border-1 border-dark shadow mb-5 m-3 p-3">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <div class="d-flex justify-content-end">
            <input type="submit" value="Envoyer" class="btn btn-success mt-3 d-flex justify-content-end">
        </div>
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}
