<div class="container-fluid p-5 banner">
</div>
<div class="contain-banner pt-3 pb-3 px-2">
    <h1 class="banner-text">BIENVENUE</h1>
    <h2 class="banner-text">Je suis Khadim Développeur Web & Web mobile PHP</h2>
    <h2 class="banner-text">Venez découvrir mes projets !</h2>
</div>
