{% for label, messages in app.flashes %}
	{% for message in messages %}
		<div class="alert alert-{{ label }}">
			{{ message }}
			<button type="button" class="btn-close dflex align-text-top" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
	{% endfor %}
{% endfor %}
