<div class="footer">
    <div class="m-2 d-flex justify-content-center">
        <i class="bi bi-instagram p-3"></i>
        <i class="bi bi-linkedin p-3"></i>
        <i class="bi bi-facebook p-3"></i>
        <i class="bi bi-twitter p-3"></i>
    </div>
    <div class="d-flex justify-content-center">
        <p>Tous droits réservés <a class="login" href="{{ path('connexion') }}">Khadim</a> Bousso</p>
    </div>
</div>
