<nav class="navbar navbar-expand-xl fixed">
    <div class="container-fluid">
        <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link bouton-retour " href="{{ path('portfolio_accueil') }}">Retour au site</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('admin')}}">Accueil Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">Gérer Bio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('projet_index') }}">Gérer Projets</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Message</a>
                </li>
            </ul>
        </div>
    </div>
</nav