@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import "~bootstrap/scss/bootstrap";
@import "navbar.scss";
@import "banner.scss";
@import "variables.scss";
@import "card.scss";

body {
    background-color: $light;
    font-family: $text-font;
    color: $light;
}
.footer {
    background-color: $primary;
}
.title {
    color: $secondary;
    text-transform: uppercase;
    font-weight: 700;   
}
.login {
    text-decoration: none;
    color: $light;
}
.login:hover {
    color: $light;
}
label{
    color: $primary;
    font-weight: 400;
    margin: 5px;
    font-size: larger;
}
.btn-submit {
    background-color: $primary;
    color: $light;
}
.btn-submit:hover {
    color: $danger;
}
.bouton-retour {
    background-color: $secondary;
    color: $light;
}
.bouton-retour:hover {
    color: $danger;
}