@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import "~bootstrap/scss/bootstrap";
@import "navbar.scss";
@import "banner.scss";
@import "variables.scss";

body {
    background-color: $light;
    font-family: $text-font;
    color: $light;
}
.footer {
    background-color: $primary;
}