@import "variables.scss";

.card {
    background-color: $primary;
    transition: transform .5s;
}
.card {  
    &:hover {
        transform: scale(1.1);
    }
}
.card-title{
    color: $danger;
}
.card-link {
    
    text-decoration: none;
}
.card-text {
    overflow: hidden;
    text-overflow: ellipsis;
}
.btn-card {
    background-color: $secondary;
    color: $light;
}