@import "variables.scss";

.nav-link {
    color: $light;
    text-transform: uppercase;
}

.nav-link:hover {
    color: $danger;
}

.nav-link:focus {
    color: $danger;
}
nav {
    background-color: $primary;
}
.bouton-retour {
    background-color: $secondary;
    color: $light;
}
.bouton-retour:hover {
    color: $danger;
}
.bouton-deco {
    background-color: $danger;
    color: $light;
}
.bouton-deco:hover {
    color: $primary;
}